@import '../styles/variables.scss';


.movieTile {
  margin-bottom: 20px;
  padding: 20px;
  background: black !important;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.movieTitle {
    display: inline;
    color: $aqua-dark;
    font-size: 36px;
    font-weight: 600;
}

.movieImage {
  width: 270px;
  height: 402px;
  display: block;
}

.movieShortDescription {
  display: block;
}

.movieTileButton {
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
}
